.App {
  text-align: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/* Bars */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
/* Login */
.modalLogins{
  color: black !important;
  font-style: inherit !important;
  font-family: 'Courier New', Courier, monospace;
}
.loginButton{
  margin-left: 4%;
  width: 96%;
  height: 70%;
  background-color: #ffffff; /* Green */
  border: none;
  border: #000000;
  border-style: solid;
  border-width: .5px ;
  border-color: #000000;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
  margin-top: 1%;
}
#alert{
  color: red;
}
.loginButton:hover{
  background-color: #7e733567 !important;
}

/* Plant Card */
#nurseryPlantImg{
  object-fit: contain;
  max-width: 100%;
  max-height: 160px;
}
.other{
  width: 18vw;
  height: 63vh;
  max-height: 400px;
  margin-left: 12px !important;
  margin-bottom: 7px !important;
}
.other:hover{
  background-color: #7e733567 !important;
}
.PlantDiv{
  display: inline-block;
  background-color: rgba(182, 204, 204, 0);
  margin-left: 5px;
  text-align: center;
  margin-bottom: 5px;
}

.nursery{
width: 15%;
height: 15%;
max-height: 150px;
display: flex;
flex-direction: column;
flex-wrap: nowrap
}
#otherPlantImg{
  width: 90%;
  max-height: 300px;
  height: 50%;
  margin-top: 5px;
  object-fit: scale-down;
}
#otherPlantName{
padding: 0;
margin-top: -4px;
}

#otherPlantDescription{
  text-align: center;
  font-size: 16px;
  margin-top: -15px;
  overflow: hidden;
}
#nurseryPlantImg{
  width: 90%;
}
#nurseryPlantName{
  text-align: center !important;
  margin-top: auto;
}
#nurseryPlantAge{
  margin-top: -20px;
}
#plantNameAge{
  display: flex;
  flex-direction: column;
}
#plantDescriptionSpace{
  width: 100%;
  height: 50%;
  background-color: #7e733567 !important;
}
.updateButton{
  background-color: #282c3400;
  border: none;
  margin-left: 70%;
}
#buttondDiv{
  display: flex;
  flex-direction: row;
  opacity: .5;
}
#nurseryPlantType{
  display: flex;
  flex-direction: row;
}
#updateButtons{
  height: 30px;
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: row;
}
#removePlantButton{
left: 0;
width: 10%;
border: none;
background-color: rgba(0, 0, 0, 0);
}
/* About */
#textSpace{
  display: flex;
  flex-direction: row ;
}
.aboutPage{
  overflow-x: hidden;
}
#aboutImage{
  /* background-color: #4CAF50; */
  width: 55%;
  /* background-color: #7e733567 !important; */
  border: 1px solid;
  padding: 10px;
  box-shadow: 30px 30px #7e733567
}
.aboutUs{
  text-align: left;
  margin-left: 50px ;
  font-size: 20px;
  width: 126%;
}
#titleStyle{ 
  text-align: left;
  margin-left: 50px;
  font-size: 40px;
  margin-bottom: -10px;
  font-family: 'Jazz LET', 'fantasy';
  color: rgb(32, 100, 32);
  }
/* Bottom Border */
#flowerBorder{
  /* width: 100%; */
  /* height: 50%; */
}
/* 1Home Banner */
.navLinks:hover{
 color: rgb(0, 0, 0) !important;
 background-color: #7e733567 !important;
}
.logoutButton{
  background-color: rgba(0, 0, 0, 0) !important;
  border: none;
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  font-family: 'Courier New', Courier, monospace;
}
#title-banner{
  height: 100%;
  width:20%;
  color: black;
  font-size: 25px;
  font-family: fantasy;
  text-align: left;
  padding-left: 20px;
  margin-right: 10px;
  margin-top: auto;
}
#navLinkDiv{
margin: auto;
width: 70%;
}
.homepage{
  display: inline-block;
  width: 100vw;
  height: 100%
  }
  #homepageLink{
  text-decoration: none;
  color: rgb(32, 100, 32);
  font-family: 'Jazz LET', 'fantasy';
  font-size: x-large !important;
  }
 

/* HomePage */
.homeButtons{
  background-color: #7e7335; /* Green */
  border: thin;
  border-style: solid;
  border-color: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Courier New', Courier, monospace;
}
.Home{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.lander{
  display: inline-block;
  width: 100vw;
  height: 75.4vh;
  position: relative;
 justify-content: center;
 background-position: center;
  background-size: cover;
 background-image: url("./public/Background.jpg");
 
}
.lander::before{
   position: absolute;
   content: "";
  top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      opacity: 0.75;
      
 
}

#firstGif{
  position: absolute;
  left: 0;
  padding-bottom: 8%;
}
#lastGif{
  position: relative;
  display: inline-block;
  right: 0;
  margin-left: 50%;
  padding-bottom: 7%;
}
#nameSpace{
  display: inline-block;
  position: absolute;
  margin-left: -10%;
  margin-top: 7%;
  padding: 15px;
  background-color: #fefefe93;
}

.homePlantGif{
  width: 10%;
  height: 20%;
}
/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}
body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}
.modalHeader{
  background-color: #3a2f2f00;
  font-size: 30px;
  font-weight: 50px;
  color: #dfdecd;
  max-height: 20%;
  text-align: center;
  height: 70px;
}
.modalFormInput{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.modalBody{
  background-color: #97414100;
  font-size: 20px;
  font-weight: 50px;
  text-align: left;
  height: 60%;
}
.modalBody form{
  margin-left: 30px;
  height: 60%;
}
.modalFooter{
  background-color: #3a2f2f00;
  max-height: 20%;
  text-align: center;
  height: 70px;
}
#modalSubmit{
  margin-right: 15px;
  right: 0;
}
#modalClose{
  right: 0;
}
/* Add Plant Div */
#addPlantForm{
  width: 100%;
  text-align: center;
}
div.Collapsible{
color: #000000;
background-color: #fff20000;
border: #000000;
border-style: solid;
border-width: .5px;
}
div.Collapsible:hover{
  background-color: #7e733567 !important;
}
/* Updates Modal */
#updateDiv{
width: 95%;
background-color: #7e733567 !important;
margin-bottom: 5px;
font-family: 'Courier New', Courier, monospace;
}
#updateStatusDate{
  display: flex;
  flex-direction: row;
  
  }
/* Nursery Page */
.nurseryPage{
  
}
#nurseryPlantSpace{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 85%;
  position: absolute;
  margin-left: 25px;
  height: auto;
}
#collapseSpace{
  right:0;
  margin-right: 10px;
  position: absolute;
  width: 15%;
  /* background-color: #5c9741; */
  background-color: #7e73353a !important;
}
#collapseForm{
  right:0;
  position: absolute;
  background-color: #7e733567 !important;
  height: 50px;
}
/* Other Plants Page */
#otherPlantsRenderDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
#otherPlansHeading{
  font-size: 40px;
  font-family: 'Jazz LET', 'fantasy';
  color: rgb(32, 100, 32);
}
/* Plant Modal */
#plantModal{
  text-align: center;
}
#plantModalTitle{
  font-size: 30px;
  font-weight: bold;
  color: rgb(32, 100, 32);
  font-family: 'Jazz LET', 'fantasy';
}
#plantModalBody{
height: 40% !important;
display: flex;
flex-direction: row;
}
#plantModalImage{
  width: 60%;
  height: 40%;
}
#plantModalDescription{
  font-size: 20px;
  background-color: #29802c77;
}
#plantModalFooter{
  height: 20% !important;
}